<h1><%= @cocktail.name %></h1>
<h2>Ingredients:</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "Delete", delete_path(dose), method: :delete %> </li>
  <% end %>
</ul>

<%= link_to "+ Add a dose!", cocktail_doses_path(@cocktail) %>
